#  ____   __    __   __ _
# / ___) /  \  /  \ (  ( \
# \___ \(  O )(  O )/    / ____
# (____/ \__/  \__/ \_)__)(____)
#
# SOON_ Cross team root editorconfig configuration
# Projects can also have a local .editorconfig to customise syntax
#

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Backend Languages (Python, Go, Ruby etc)

# Python
[*.py]
indent_style = space
indent_size = 4
line_length=80
multi_line_output=3
default_section=THIRDPARTY
import_heading_stdlib=Standard Libs
import_heading_thirdparty=Third Party Libs
import_heading_firstparty=First Party Libs
lines_after_imports=2

# Ruby
[{*.rb,Vagrantfile}]
indent_style = space
indent_size = 2

# Front End Languages (HTML, JS/TS, CSS etc)

[*.{js, ts, css, html}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true

## JS/TS
[*.{js, ts}]
quote_type = single

# Misc

# YAML Based files - 2 space indent
[*.{yml, yaml, sls}]
indent_style = space
indent_size = 2
