dist: trusty
sudo: false

language: node_js
node_js:
  - "8"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
     - ./node_modules

install:
  - npm i --no-progress

script:
  # Use Chromium instead of Chrome.
  - export CHROME_BIN=chromium-browser
  - npm run lint
  - xvfb-run -a npm run test -- --watch false --code-coverage --browsers ChromeNoSandbox
  - xvfb-run -a npm run e2e
  - npm run coverage
