dist: trusty
sudo: false
language: node_js
node_js:
  - "8"
os:
  - linux
before_install:
  # Use a virtual display.
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  # Install latest chrome.
  - export CHROME_BIN=chromium-browser
install:
  - npm install --no-progress
script:
  - npm run lint
  - npm run test -- --no-progress --code-coverage --single-run
  - npm run e2e -- --no-progress
  - npm run coverage
