<h1>Scroll down ↓ and right →</h1>
<div class="spacer"></div>
<p class="small-element" snInViewport (onInViewportChange)="onInViewportChange($event)" [ngClass]="{'highlight': highlight}">Amet tempor excepteur occaecat nulla. Aute deserunt esse duis velit mollit exercitation nisi officia. Anim do irure cillum esse esse ea magna elit. Velit reprehenderit eiusmod aliqua do reprehenderit elit commodo enim do deserunt consequat ea elit. Incididunt dolore officia consectetur anim ex ea commodo ullamco veniam ipsum esse amet cupidatat commodo. Id consequat duis aliqua minim aliquip enim officia elit. Sint est fugiat ex ex proident ad veniam do excepteur.</p>

<p class="large-element" snInViewport>very large element</p>

<div class="scrollable" #container>
  <div class="spacer"></div>
  <p class="inside-scrollable" snInViewport [parentEl]="container">Element inside scrollable div</p>
  <div class="spacer"></div>
</div>
<div class="spacer"></div>
